name: Update draft specification
on:
  workflow_dispatch:
  push:
    branches: draft

jobs:
  build-draft:
    name: Make draft spec release
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python
      uses: actions/setup-python@dc73133d4da04e56a135ae2246682783cc7c7cb6
      with:
        python-version: 3.x

    - name: Find pip cache dir
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"

    - name: pip cache
      uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353
      with:
        # Use the os dependent pip cache directory found above
        path: ${{ steps.pip-cache.outputs.dir }}
        # A match with 'restore-keys' is used as fallback
        key: ${{ runner.os }}-pip-

    - name: Clone
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

    - name: Build specification
      run: |
        python -m pip install bikeshed
        mkdir build && cd build
        make -f ../Makefile draft

    - name: Switch branch
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      with:
        ref: gh-pages
        clean: false

    - name: Push generated specification
      run: |
        git config user.name "TUF Specification Automation"
        git config user.email theupdateframework@googlegroups.com
        rm -fr draft
        mv build/* .
        rmdir build
        git add .
        git commit -m "Publish latest draft specification"
        git push
