name: CI
on:
  pull_request:
    branches:
      - master

jobs:
  main:
    name: Sanity checks before a PR merge
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac
        with:
          fetch-depth: 0 # we want all refs for the --is-ancestor check

      - name: Set up Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
        with:
          python-version: '3.14'
          cache: pip

      - name: Ensure changes build
        run: |
          python -m pip install -r requirements.txt
          mkdir build && cd build
          make -f ../Makefile spec

      - name: Check date and version
        run: python check_release.py
