name: CI
on:
  pull_request:
    branches:
      - master

jobs:
  main:
    name: Sanity checks before a PR merge
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
        with:
          fetch-depth: 0 # we want all refs for the --is-ancestor check

      - name: Set up Python
        uses: actions/setup-python@21c0493ecfd34b1217f0a90ec19a327f3cc0a048
        with:
          python-version: 3.x

      - name: Find pip cache dir
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed
        with:
          # Use the os dependent pip cache directory found above
          path: ${{ steps.pip-cache.outputs.dir }}
          # A match with 'key' counts as cache hit
          key: ${{ runner.os }}-pip-

      - name: Ensure changes build
        run: |
          python -m pip install bikeshed
          mkdir build && cd build
          make -f ../Makefile spec

      - name: Check date and version
        run: python check_release.py
