name: Release specification
on:
  workflow_dispatch:
  push:
    branches: master

jobs:
  make-release:
    name: Make and publish spec release
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python
      uses: actions/setup-python@dc73133d4da04e56a135ae2246682783cc7c7cb6
      with:
        python-version: 3.x

    - name: Find pip cache dir
      id: pip-cache
      run: echo "::set-output name=dir::$(pip cache dir)"

    - name: pip cache
      uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353
      with:
        # Use the os dependent pip cache directory found above
        path: ${{ steps.pip-cache.outputs.dir }}
        # A match with 'key' counts as cache hit
        key: ${{ runner.os }}-pip-

    - name: Clone main
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      with:
        fetch-depth: 0

    - name: Get previous version
      id: prevver
      run: |
        prev_version=`git tag | sort -V -r | head -n 1 | cut -c 2-`
        echo "::set-output name=prev_version::$(echo -n $prev_version)"

    - name: Get version
      id: getver
      run: |
        spec_version=`grep -oP 'VERSION \K(\d+\.\d+\.\d+)' tuf-spec.md`
        echo "::set-output name=spec_version::$(echo -n $spec_version)"

    - name: Make release
      if: steps.getver.outputs.spec_version != steps.prevver.outputs.prev_version
      uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.getver.outputs.spec_version }}
        release_name: v${{ steps.getver.outputs.spec_version }}
        body: Specification release v${{ steps.getver.outputs.spec_version }}

    - name: Build specification
      if: steps.getver.outputs.spec_version != steps.prevver.outputs.prev_version
      run: |
        python -m pip install bikeshed
        mkdir build && cd build
        make -f ../Makefile release

    - name: Switch branch
      if: steps.getver.outputs.spec_version != steps.prevver.outputs.prev_version
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      with:
        ref: gh-pages
        clean: false

    - name: Push generated specification
      if: steps.getver.outputs.spec_version != steps.prevver.outputs.prev_version
      env:
        SPEC_VERSION: v${{ steps.getver.outputs.spec_version }}
      run: |
        git config user.name "TUF Specification Automation"
        git config user.email theupdateframework@googlegroups.com
        rm -fr latest
        mv build/* .
        rmdir build
        make index
        git add .
        git commit -m "Publish latest specification $SPEC_VERSION"
        git push
